.left-content
  .header
    .header__name
      %p
        hanada
    .header__edit
      = link_to new_group_path do
        %i.fa.fa-pencil-square-o
      = link_to edit_user_registration_path do
        %i.fa.fa-cog
  .bottom
    - @groups.each do |group|
      .bottom-content
        %p.bottom-content__name
          = group.name
        %p.bottom-content__latest
          最新のツイート

.main
  .header
    .header__group
      .header__group-title
        %p
          選択したグループ
      .header__group-member
        %p
          MEMBER: member1,member2
    .header__edit
      =link_to edit_group_path(@groups.ids) do
        %header__edit-button Edit
      -# = link_to edit_group_path(group) ,method: :get do
  .middle
    .middle-content
      .middle-content__name
        %p
          ユーザーの名前
      .middle-content__date
        %p
          2017/11/11 23:23:23
      .middle-content__message
        %p
          内容
    .middle-content
      .middle-content__name
        %p
          ユーザーの名前
      .middle-content__date
        %p
          2017/11/11 23:23:23
      .middle-content__message
        %p
          内容
  .footer
    .footer__content
    = form_for "" do |f|
      = f.text_field "", class: "footer__content--text", placeholder: "type a message"
      %label.footer__content--image
        %i.fa.fa-image
          = f.file_field "",class: "footer__content--image"
      = f.submit value: "Send",class: "footer__content--button"




